@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
@font-face {
  font-family: 'fontello';
  src: url(4fd0baae6b8c54b97d48.eot?67765467);
  src: url(4fd0baae6b8c54b97d48.eot?67765467#iefix) format('embedded-opentype'),
       url(02c94a6110262de6a836.woff2?67765467) format('woff2'),
       url(910c3bf909cfcea6a233.woff?67765467) format('woff'),
       url(2ec2adea1adb0db8235a.ttf?67765467) format('truetype'),
       url(76d887a2db9fe73aa334.svg?67765467#fontello) format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?67765467#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */

*{box-sizing:border-box}html{margin:0}@page{margin:0 -1mm}body{font-family:'Roboto',sans-serif;padding:1rem}@media screen{body{background-color:#f0f0f0}}article{background-color:#fff;margin:0 auto;max-width:768px}@media screen{article{box-shadow:0 0 1rem .25rem rgba(0,0,0,0.2);padding:1rem}}h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:1rem;font-variant:small-caps;margin:0}.line{display:flex;justify-content:space-between;flex-wrap:wrap;margin-bottom:1.5rem;gap:.5rem}.s-head .title{font-size:1.75rem;margin-bottom:-.5rem;font-weight:bold}.s-head .subtitle{margin-top:.375rem;font-weight:bold}.subtitle-line-1{display:flex;align-items:center;gap:1rem}.subtitle-line-1 .text{display:inline}.subtitle-line-1 .sticker{display:inline;font-size:75%;color:#808080}.subtitle-line-2{font-style:italic}.contact{display:flex;flex-wrap:nowrap;align-items:center}.contact .icon:before{font-size:120%;opacity:.8}.contact a{color:inherit;text-decoration:none}.contact a:hover{text-decoration:underline}ul{margin:0;padding:0;list-style-type:none}ul > li:before{content:'-';padding-left:.5rem;padding-right:.5rem}ul .s-want > li{padding-left:1rem}.s-want{display:flex;align-items:center}.s-want .title{font-weight:bold}.s-tech{display:flex;align-items:center;font-size:.75rem}.s-tech .title{font-size:1.6rem;text-transform:uppercase;transform:rotate(-85deg);margin-left:-3rem;margin-right:-2rem;font-weight:900;color:#e2e2e2}.s-tech .tech{display:grid;margin-left:.5rem}.s-tech .header{grid-column:1;padding-right:.25rem;padding-top:.375rem}.s-tech .item-title{grid-column:1;padding-right:.25rem;margin-left:.5rem}.s-tech .item-desc{grid-column:2}.s-content{display:grid;grid-template-columns:auto 1fr auto;margin-top:-1rem}.s-content a{color:inherit;font-weight:bold;text-decoration:none}.s-content a:hover{text-decoration:underline;text-underline-offset:.05em}.s-content .header{grid-column:1/3;padding-right:.25rem}.s-content .header-title{display:inline;font-weight:bold}.s-content .header-url{display:inline;padding-left:.5rem}.s-content .header-url:before{content:'/';padding-right:.5rem}.s-content .header-date{grid-column:3;font-size:.75rem;font-style:italic}.s-content .item-title{grid-column:1;padding-right:.25rem;margin-left:.5rem}.s-content .item-desc{grid-column:2/4}.s-content .text{padding-top:.5rem;grid-column:1/4}.s-content ul{grid-column:1/4}.s-content .header,.s-content .header-date{padding-top:1.5rem}.s-content:not(.tech) .item-title{color:#808080;margin-left:1rem;padding-right:1rem}.s-content:not(.tech) .text{font-style:italic;margin-left:1rem;margin-right:1rem}.s-content:not(.tech) .text-full{margin-top:1rem;margin-left:0}.s-block{width:100%;margin-top:1rem}.s-block .title{display:block;font-size:1.25rem;font-weight:bold;padding-bottom:.25rem;border-bottom:2px solid #000}
